<a href="https://colab.research.google.com/github/EstevaoSB/Python-Pandas/blob/main/Pandas_datas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importando a biblioteca pandas e efetuando a leitura do arquivo.

import pandas as pd

df = pd.read_excel("/Fortaleza.xlsx")

In [ ]:
df.head()

      Cidade       Data  Vendas  LojaID  Qtde
0  Fortaleza 2019-01-01   45.27    1002     2
1  Fortaleza 2019-01-01  115.61    1002     3
2  Fortaleza 2019-02-10   35.33    1004     3
3  Fortaleza 2019-02-10   20.95    1004     6
4  Fortaleza 2019-01-01   14.25    1004     6

In [3]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [4]:
# Alterando o tipo de dado de data para inteiro.

df["Data"] = df["Data"].astype("int64")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
df.dtypes

Cidade     object
Data        int64
Vendas    float64
LojaID      int64
Qtde        int64
dtype: object

In [6]:
# Alterando o tipo de dado quando temos uma tabela de data Ex:

df["Data"] = pd.to_datetime(df["Data"])

In [7]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [8]:
# Total de vendas pelo ano.

df.groupby(df["Data"].dt.year)["Vendas"].sum()

Data
2019    10120.71
Name: Vendas, dtype: float64

In [9]:
# Criando uma coluna somente com o ano de venda.

df["Ano|Vendas"] = df["Data"].dt.year

# Pegando uma amostra.

df.sample()

       Cidade       Data  Vendas  LojaID  Qtde  Ano|Vendas
95  Fortaleza 2019-01-01   35.28    1002     2        2019

In [10]:
# Extraindo mês e o dia

df["Mês|Vendas"], df["Dia|Vendas"] = (df["Data"].dt.month, df["Data"].dt.day)
df.sample()

,Cidade,Data,Vendas,LojaID,Qtde,Ano|Vendas,Mês|Vendas,Dia|Vendas
80,Fortaleza,2019-01-01,47.88,1003,2,2019,1,1

In [11]:
# Retornando a data mais antiga

df["Data"].min()

Timestamp('2019-01-01 00:00:00')

In [13]:
# Calculando a diferença de dias

df["Diferença|Dias"] = df["Data"] - df["Data"].min()
df.sample()

,Cidade,Data,Vendas,LojaID,Qtde,Ano|Vendas,Mês|Vendas,Dia|Vendas,Diferença|Dias
57,Fortaleza,2019-01-01,129.07,1005,3,2019,1,1,0 days

In [15]:
# Trimestre

df["Trimestre|Vendas"] = df["Data"].dt.quarter
df.sample()

,Cidade,Data,Vendas,LojaID,Qtde,Ano|Vendas,Mês|Vendas,Dia|Vendas,Diferença|Dias,Trimestre|Vendas
114,Fortaleza,2019-03-02,16.82,983,4,2019,3,2,60 days,1

In [16]:
# Filtrando as vendas de 2019 do mês de fevereiro

vendas_Fevereiro = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 2)]

In [17]:
vendas_Fevereiro

,Cidade,Data,Vendas,LojaID,Qtde,Ano|Vendas,Mês|Vendas,Dia|Vendas,Diferença|Dias,Trimestre|Vendas
2,Fortaleza,2019-02-10,35.33,1004,3,2019,2,10,40 days,1
3,Fortaleza,2019-02-10,20.95,1004,6,2019,2,10,40 days,1
7,Fortaleza,2019-02-11,35.50,1003,2,2019,2,11,41 days,1
8,Fortaleza,2019-02-11,37.49,1005,1,2019,2,11,41 days,1
13,Fortaleza,2019-02-12,118.58,1003,4,2019,2,12,42 days,1
40,Fortaleza,2019-02-13,19.13,1002,4,2019,2,13,43 days,1
41,Fortaleza,2019-02-13,191.29,1002,3,2019,2,13,43 days,1